svg {
  border: 1px solid #ccc;
}

body {
  font: 10px 'Gudea', sans-serif;
}

text {
  font-family: 'Gudea', sans-serif;
  font-size: 9pt;
}

circle.node {
  fill: lightsteelblue;
  stroke: #555;
  stroke-width: 3px;
}

circle.leaf {
  stroke: #fff;
  stroke-width: 1.5px;
}

circle.link-expanded {
  stroke: #555;
  stroke-width: 3px;
  stroke-dasharray: 2px 4px;
}

circle.helper {
  stroke-width: 0;
  fill: #333;
  opacity: 0.6;
}

circle.center-of-mass {
  fill: white;
  stroke: red;
  stroke-width: 5px;
}

path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}

path.hlink {
  stroke: #333;
  stroke-opacity: 0.5;
  fill: none;
  pointer-events: none;
}

path.trace-alpha {
  stroke: #0ee;
  stroke-opacity: 0.8;
  stroke-width: 1.5px;
  fill: none;
  pointer-events: none;
}

path.trace-c2 {
  stroke: #3bb;
  stroke-opacity: 0.8;
  stroke-width: 1.5px;
  fill: none;
  pointer-events: none;
}

line.link {
  stroke: red;
  stroke-opacity: 0.7;
  pointer-events: none;
}

.rect-group {
  padding: 20px;
  border: 1px dashed #000000;
}

.plus-button, .compress-button {
  cursor: pointer;
}

.scroll-group {
  width : 100px;
}

.up-button, .down-button {
  display: inline-block;
  font-size:12px;
  padding:4px;
  border:1px solid #000;
  margin-right: 15px;
  cursor: pointer;
}

.up-button:hover, .down-button:hover {
  color: #aaa;
}

.node-label {
  font-size:13px;
}

.plus-sign {
  cursor: pointer;
  font-size:20px;
}